{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour j'espère que tu es prêt à chercher </h1>
    <p> Voici la description de la plante à trouver </p>
    {% for plant in plants %}
    <tr>
        <br>
        <td>{{ plant.name}}</td>
        <br>
        <td>{{ plant.description }}</td>
        
    </tr>
    {% endfor %}
    {{ form_start(form) }}
    <button type="submit" class="btn btn-succes">Mettre photo</button>
    {{ form_end(form) }}
</div>
<video id="video" width="640" height="480" autoplay></video>
<button id="snap">Take Photo</button>
<canvas id="canvas" width="640" height="480"></canvas>
<a href="{{ path('app_home') }}">Home</a>

{% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('assets/js/pic.js') }}"></script>
    {% endblock %}