{% extends 'base.html.twig' %}

{% block title %}Voici votre profil !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/profil-page.css') }}" />
{% endblock %}

{% block body %}
<body>
    <main class="disp-f j-c-c al-c w-100pc h-100vh">
        <div class="disp-f j-c-c bg-c-white card-s al-c">
            <div class="disp-f al-c j-c-c f-d-c w-50pc h-100pc">
                <h1>Bienvenue sur votre profil !</h1>
                <p>Vous avez trouvé N plantes</p>
                <img src="{{ asset(app.user.avatar) }}" alt="a child with flowers" width="150" height="200">
                <div class="l-h">Email: {{ app.user.email }}</div>
                <div class="l-h">Points d'expérience: {{ app.user.exp | default("0") }}</div>
                <div class="w-400px disp-f j-c-c gap-20px">
                    <a class="b-reg" href="{{ path('app_profil_edit') }}">Modifier mon profil</a>
                    {{ include('home/_delete_form.html.twig') }}
                </div>
                <div class="disp-f j-c-c w-90pc mg-t-5vh">
                    <a class="b-reg" href="{{ path('app_home') }}">Home</a>
                </div>
            </div>
        </div>
    </main>
</body>
{% endblock %}