{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<div>Nombre de plantes trouvées: </div>
<div>Email: </div>
<div>{{ app.user.email }}</div>
<div>Points d'expérience: </div>
<div>{{ app.user.exp | default("0") }}</div>

<a href="{{ path('app_home') }}">Modifier mon profil</a>
<a href="{{ path('app_home') }}">Me désinscrire</a>

<a href="{{ path('app_home') }}">Home</a>
{% endblock %}